
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: "Cabin", Arial, Geneva, sans-serif;
  }
  .searchStats{
    grid-area: side1;
  }
  .nationalStats{
    grid-area: side2;
  }
  .searchBar{
    grid-area: top;
  }
  .layout{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'top top top'
    'top top top'
    'side1 ... side2';
  }