
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: "Cabin", Arial, Geneva, sans-serif;
  }
  .stats{
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
  }
p{
  /* font-family; :  */
  font-size: x-large;
  padding: 0;
  margin: 10px;
}
h1{
  text-align: center;
}
h2{
  font-weight: bolder;
}
  .search{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    height: 55px;
  }
  .national-stats div, .searched-stats div{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    line-height: 0;
    margin-bottom: 20px;
  }

  input{
    width: 80vw;
    border-radius: 10px;
  }
  button{
    border-radius: 10px;
  }
