html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80');
}
.layout {
  display: grid;
  margin: 15px auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.heading-searchbar {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
input, button{
  height: 40px;
  border: none;
  border-bottom: 1px solid yellowgreen;
  border-right: 1px solid yellowgreen;
  box-shadow: 0px 3px 3px rgb(183, 192, 183);
  font-size: small;
  padding: 5px;
}
.data-section{
  margin: 5px auto;
  display: grid;
  grid-gap: 70px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.data-box{
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  margin:  0px auto 19px
}
p, h4{
  margin: 1px ;
}
p{
  font-size: 30px;
  font-weight: 300;
  /* lin */
}
h1{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  white-space: nowrap;;
}
h4{
  font-size: smaller;
  font-weight: 100;
  font-style: italic;
  color: rgb(130, 136, 142);
}
h2{
  color: green;
  font-weight: 300;
  text-decoration: underline;
}
@media(min-width: 700px){
  .layout{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .heading-searchbar{
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .data-section{
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .state-stats ,  .country-stats{
    display: flex;
    flex-flow: row wrap;

  }
}

